<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">

   <interceptors>
      <class>org.jboss.seam.transaction.TransactionInterceptor</class>  
      <!--cuando se esta utilizando metodos transaccionales de seam como @Transactional,,,
      es decir insertar datos a la base de datos de una clases o realizar modificaciones de datos-->
      <class>org.jboss.seam.security.SecurityInterceptor</class>
      <!--Se activa esta clase para restringir el acceso a la aplicación de la autorización de seam-->
   </interceptors>  
</beans>
